html {
    font-family: 'PT Sans';
    background: rgba(255, 235, 55, 0.25);
    color: #384038;
}

.header {
    font-size: 7em;
    font-weight: bold;
    line-height: 0.8em;
}

header {
    margin: 1.5em 0;
}

.content {
    height: 100%;
    max-width: 1200px;
    margin: auto;
}

div {
    position: relative;
}

.sticky-bottom {
    position: sticky;
}

.main {
    display: flex;
    justify-content: space-between;
}

.photo, .description, .links {
    flex-basis: 30%;
}

img {
    max-height: 100%;
    max-width: 100%;
    -webkit-filter: grayscale(40%); /* Safari 6.0 - 9.0 */
    filter: grayscale(40%);
}